{% extends 'base.html.twig' %}

{% block body %}
    <h1>Reponse_sondages list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Intitule</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reponse_Sondage in reponse_Sondages %}
            <tr>
                <td><a href="{{ path('reponse_sondage_show', { 'id': reponse_Sondage.id }) }}">{{ reponse_Sondage.id }}</a></td>
                <td>{{ reponse_Sondage.intitule }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('reponse_sondage_show', { 'id': reponse_Sondage.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('reponse_sondage_edit', { 'id': reponse_Sondage.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('reponse_sondage_new') }}">Create a new reponse_Sondage</a>
        </li>
    </ul>
{% endblock %}
